<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <form class="flex-center-start-column container" [formGroup]="loginForm">
        <h2 class="tittle mb-24"> Inicio de sesión </h2>
        <span class="medium mb-24"> 
            Ingresa tus datos de sesión
            para acceder al sistema de calificaciones.
        </span>

        <div [ngClass]="emailInvalid() ?  'flex-center-start-row invalid-field mb-24 '  : 'flex-center-start-row field-form mb-24'">
            <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 5H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2Z"></path>
                <path d="m3 7 9 6 9-6"></path>
            </svg>
            <label class="medium"> Correo </label>
        </div>

        <input type="text" class="input-form mb-24" formControlName="correo" placeholder="Direccion de correo">

        <div [ngClass]="passwordInvalid() ?  'flex-center-start-row invalid-field mb-24 '  : 'flex-center-start-row field-form mb-24'">
            <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17 11H7a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2Z"></path>
                <path d="M12 17a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"></path>
                <path d="M8 11V7a4 4 0 0 1 8 0v4"></path>
            </svg>
            <label class="medium"> Contraseña </label>
        </div>

        <div class="flex-center-sb-row password">
            <input 
            [type]="hidePassword() ? 'password' : 'text'"
            class="input-form mb-24" formControlName="password" 
            placeholder="Contraseña" 
            matTooltip="Debe incluir 1 mayuscula, 1 minuscula, 1 numero y tener una longuitud de 8 digitos">

            <button type="button" class="flex-center-start-column" (click)="togglePassword()">
                <svg width="20" height="20" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                    <path d="M22 12c-2.667 4.667-6 7-10 7s-7.333-2.333-10-7c2.667-4.667 6-7 10-7s7.333 2.333 10 7Z"></path>
                </svg>
            </button>
        </div>
        <div class="flex-center-center-column forgot-password mb-24">
            <p class="medium"> ¿Olvidaste tu contraseña? </p>
            <span class="medium" (click)="requestCode()"> Solicitar código </span>
        </div>

        <button type="submit" class="btn-primary" [disabled]="btnDisable()" (click)="validateForm()"> Iniciar sesión </button>

    </form>
</body>