<body [ngClass]="darkTheme() ? 'dark-theme flex-center-center-column' : 'flex-center-center-column' ">
    <section class="container flex-center-center-column">
        <h2 class="tittle mb-24"> Docentes </h2>

        <span class="medium mb-24">
            Información detallada sobre todos los docentes de 
            la carrera de {{career}} registrados en el sistema de calificaciones.
        </span>

        <nav class="mb-24">
            <div class="input-search">
                <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Buscar por nombre o correo">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14Z"></path>
                    <path d="m21 21-6-6"></path>
                </svg>
            </div>
            
            <button class="btn-primary-icon flex-center-center-row" (click)="registerTeacher()"> 
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <path d="M8.5 3a4 4 0 1 0 0 8 4 4 0 1 0 0-8z"></path>
                    <path d="M20 8v6"></path>
                    <path d="M23 11h-6"></path>
                </svg>
                <p class="small">Registrar docente</p>
            </button>

            <button class="btn-primary-icon flex-center-center-row" (click)="downloadTeachers()" [disabled]="teachers.length === 0"> 
                <svg width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2"></path>
                    <path d="m7 11 5 5 5-5"></path>
                    <path d="M12 4v12"></path>
                </svg>
                <p class="small">Descargar lista</p>
            </button>
        </nav>

        @defer(on timer(3s)){
            @if(teachers.length > 0){
                <div class="table-container mb-24">
                    <table>
                        <thead>
                            <th class="small size-small col-1">No</th>
                            <th class="small size-large col-2">Docente</th>
                            <th class="small size-large col-3">Correo</th>
                            <th class="small size-large col-4">Registro</th>
                        </thead>
                
                        <tbody>
                            @for(teacher of teachers; track $index){
                                <tr>
                                    <td class="small size-small col-1">{{(currentPage - 1) * pageSize + $index + 1}}</td>
                                    <td class="small size-large col-2">{{teacher?.nombre}}</td>
                                    <td class="small size-large col-3">{{teacher?.correo}}</td>
                                    <td class="small size-large col-4">{{teacher?.fechaRegistro}}</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="flex-center-center-row pagination">
                    <button class="btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1"> ant </button>
                    <div class="pag">
                        @if(currentPage > 2){
                            <button class="btn-secondary" (click)="goToPage(currentPage - 2)"> {{currentPage - 2}} </button>
                        }
                        @if(currentPage > 1){
                            <button class="btn-secondary" (click)="goToPage(currentPage - 1)"> {{currentPage - 1}} </button>
                        }

                        <button class="btn-primary"> {{currentPage}} </button>

                        @if((totalPages - currentPage ) >= 1){
                            <button class="btn-secondary" (click)="goToPage(currentPage + 1)"> {{currentPage+1}} </button>
                        }
                        @if((totalPages - currentPage ) >= 2){
                            <button class="btn-secondary" (click)="goToPage(currentPage + 2)"> {{currentPage+2}} </button>
                        }
                    </div>
                    <button class="btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages"> sig </button>
                </div>
            }@else{
                <div class="flex-center-center-column empty">
                    <span class="text"> Por el momento, aún no hay docentes registrados en el sistema. </span>
                </div>
            }
        }@placeholder{
            <div class="flex-center-center-column loader">
                <span class="spinner mb-24"></span>
                <span class="medium">Cargando información</span>
            </div>
        }

    </section>
</body>