.dark-theme .spinner{ background-color: var(--orange); }

body{ width: 100%; padding: 24px;}
section{ width: 100%; }
h2, span{ width: 100%; }
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
nav button:nth-child(2){
    margin-right: 8px;
}

.empty{
    width: 100%;
    height: 400px;
}
.empty span{ text-align: center; }

.loader{
    width: 100%;
    height: 400px;
}
.loader .medium{ width: 100%; text-align: center; display: inline-block; }
.spinner {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--blue-2);
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.pagination{
    width: 100%;
}
.pag{
    margin: 0 8px;
}
.pag button{
    margin: 0 8px;
}

@media(min-width : 300px) and (max-width : 500px){
    nav{ 
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }
    nav .input-search, nav button:nth-child(2){
        margin-right: 0px;
        margin-bottom: 24px;
    }
    nav .input-search, nav button{ width: 100%; }
}

@media(min-width : 300px) and (max-width : 800px){
    nav{ 
        display: flex;
        flex-wrap: wrap;
    }
    nav .input-search{
        margin-right: 0px;
        margin-bottom: 24px;
    }
    nav button{ flex-grow: 1; width: auto; }
    nav .input-search{ width: 100%; }
}