.dark-theme .card{ 
    background-color: var(--dark); 
    box-shadow: none;
}
.dark-theme .card svg{ stroke: var(--orange); }

body{
    width: 100%;
    height: auto;
    min-height: 100%;
}
.card{
    min-height: 228px;
    box-shadow:
    -2px -1px 20px #aeaec040,
    2px 1px 20px #aeaec040;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.small{ text-align: center; }

.card svg{
    width: 48px;
    height: 48px;
    stroke: var(--blue-2);
}

@media(min-width : 300px) and (max-width : 400px){
    .card{ min-height: 181px; }
    .card svg{
        width: 32px;
        height: 32px;
    }
} 
@media(min-width : 401px) and (max-width : 600px){
    .card{ min-height: 232px; }
} 
@media(min-width : 601px) and (max-width : 800px){
    .card{ min-height: 224px; }
} 
@media(min-width : 801px) and (max-width : 1000px){
    .card{ min-height: 228px; }
} 
@media(min-width : 1001px) and (max-width : 1200px){
    .card{ min-height: 210px; }
} 