<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <div class=" card">
        <svg class="mb-16" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 4v16H7a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h12Z"></path>
            <path d="M19 16H7a2 2 0 0 0-2 2"></path>
            <path d="M9 8h6"></path>
        </svg>

        <p class="small mb-16"> {{materia}} </p>
        <p class="small mb-16"> Grupo: {{grupo}} </p>
        <button class="btn-primary" (click)="openGroup(id)"> Ver mas </button>
    </div>
</body>