<body [ngClass]="darkTheme() ? 'dark-theme flex-center-center-column' : 'flex-center-center-column' ">
    <form class="flex-center-start-column container" [formGroup]="periodForm">
        <h2 class="tittle mb-24"> Nuevo periodo </h2>
        <span class="medium mb-24"> 
            Ingresa la información correspondiente al nuevo periodo.
        </span>

        <div [ngClass]="periodInvalid() ?  'flex-center-start-row invalid-field mb-24 '  : 'flex-center-start-row field-form mb-24'">
            <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 5H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2Z"></path>
                <path d="M16 3v4"></path>
                <path d="M8 3v4"></path>
                <path d="M4 11h16"></path>
                <path d="M11 15h1"></path>
                <path d="M12 15v3"></path>
            </svg>
            <label class="medium"> Periodo </label>
        </div>

        <input type="text" class="input-form mb-24" formControlName="periodo" placeholder="Ej: Enero - Junio 2024">

        <div [ngClass]="keyInvalid() ?  'flex-center-start-row invalid-field mb-24 '  : 'flex-center-start-row field-form mb-24'">
            <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 4H6a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Z"></path>
                <path d="M9 12a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                <path d="M15 8h2"></path>
                <path d="M15 12h2"></path>
                <path d="M7 16h10"></path>
            </svg>
            <label class="medium"> Reticula </label>
        </div>

        <select class="input-form mb-24" formControlName="idReticula">
            @for (subject of subjectKeys; track $index){
                <option value="{{subject?._id}}"> {{subject?.claveReticula}} </option>
            }@empty{
                <option value="0" disabled selected> Aun no hay reticulas </option>
            }
        </select>

        <div class="flex-center-se-row btn-options">
            <button class="btn-secondary small" (click)="closeDialog()"> Cancelar </button>
            <button class="btn-primary small" (click)="validateForm()" [disabled]="btnDisable()"> Guardar </button>
        </div>

    </form>
</body>